html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.app {
    height: 100vh;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
  height: 100vh;
  width: 1400px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../assets/bg-pattern-top-desktop.svg) left top no-repeat,
              url(../assets/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
}

.main {
  width: 1110px;
  height: 235px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.introduce {
  width: 445px;
  height: 235px;
}

.title {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.71429px;
  color: #512051;
}

.text {
  margin-top: 6px;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #927B91;
}

.starbox {
  width: 540px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.starbox1 {
  width: 445px;
  height: 56px; 
  background-color: aliceblue;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #F7F2F7;
  display: flex;
  align-items: center;
}

.starbox2 {
  width: 445px;
  height: 56px;
  background-color: aliceblue;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #F7F2F7;
  align-self: center;
  display: flex;
  align-items: center;
}

.starbox3 {
  width: 445px;
  height: 56px;
  background-color: aliceblue;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #F7F2F7;
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.star {
  width: 116.55px;
  height: 15.77px;
  margin-left: 32px;
}

.startext {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #512051;
  margin-left: 32px;
}

.container {
  width: 1110px;
  height: 266px;
  display: flex;
  justify-content: space-between;
}

.name1 {
  width: 350px;
  height: 234px; 
  background: #512051;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name2 {
  width: 350px;
  height: 234px;
  background: #512051;
  border-radius: 8px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}

.name3 {
  width: 350px;
  height: 234px;
  background: #512051;
  border-radius: 8px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 160px;
  height: 40px;
  display: flex;
  margin-left: 32px;
  margin-bottom: 32px;
}

.person {
  width:40px; 
  height:40px; 
  border-radius:50%; 
  overflow:hidden;
  left: 0;
  margin-right: 30px;
}

.thename {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 5px;
  white-space:nowrap
}

.thename span {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #EE69A4; 
  margin-top: 5px;
  white-space:nowrap
}

.describe {
  width: 286px;
  height: 88px;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.232143px;
  color: #FFFFFF;  
  align-self: center;
}

/*  mobile
---------------------------*/
@media (max-width: 600px) {

.home {
  height: 100vh;
  width: 374px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../assets/bg-pattern-top-desktop.svg) left top no-repeat,
              url(../assets/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
}

.main {
  width: 327px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.introduce {
  width: 327px;
  height: 220px;
  margin-top: 800px;
  margin-bottom: 40px;
}

.title {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.71429px;
  color: #512051;
}

.text {
  margin-top: 6px;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #927B91;
}

.starbox {
  width: 327px;
  height: 266px;
  display: flex;
  flex-direction: column;
}

.starbox1 {
  width: 327px;
  height: 78px; 
  background-color: aliceblue;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #F7F2F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starbox2 {
  width: 327px;
  height: 78px; 
  background-color: aliceblue;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #F7F2F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starbox3 {
  width: 327px;
  height: 78px; 
  background-color: aliceblue;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #F7F2F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.star {
  width: 117px;
  height: 16px;
  margin-right: 32px;
  margin-bottom: 16px;

}

.startext {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #512051;
  margin-right: 32px;
}

.container {
  width: 327px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name1 {
  width: 327px;
  height: 248px;
  background: #512051;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}

.name2 {
  width: 327px;
  height: 248px;
  background: #512051;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}

.name3 {
  width: 327px;
  height: 248px;
  background: #512051;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 99px;
}

.card {
  width: 160px;
  height: 40px;
  display: flex;
  margin-left: 32px;
  margin-bottom: 32px;
}

.person {
  width:40px; 
  height:40px; 
  border-radius:50%; 
  overflow:hidden;
  left: 0;
  margin-right: 30px;
}

.thename {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 5px;
  white-space:nowrap
}

.thename span {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #EE69A4; 
  margin-top: 5px;
  white-space:nowrap
}

.describe {
  width: 286px;
  height: 88px;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.232143px;
  color: #FFFFFF;  
  align-self: center;
}

}
